<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <p>
        <span>{{ folder.name }}</span>
        <tree-folder-contents :children="folder.children"/>
    </p>

    <ul>
        <li v-for="child in children">
            <tree-folder v-if="child.children" :folder="child"/>
            <span v-else>{{ child.name }}</span>
        </li>
    </ul>
</div>
<script>
    console.log("略")
</script>
</body>
</html>